<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gusti Careers</title>
    {% include 'bootstrap.html' %}
    <style>
      #banner {
        height: 480px;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <!-- NAVBAR -->
      {% include 'nav.html' %}
      <!-- END OF NAVBAR -->
      <img id="banner" class="img-fluid" src="/static/banner.jpg" alt="banner" />
      <h1 class="text-center mt-5 mb-4">GUSTI CAREERS</h1>

      <h2 class="text-center mt-2 mb-4">About Gusti</h2>
      <div>
        <div class="row">
          <div class="col-lg-6">
            <p class="lead">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis maxime unde eius fugit cumque iste, dolorem magnam dolor facere laudantium beatae. Velit voluptatum assumenda tempore adipisci quaerat commodi ratione
              aspernatur cum eveniet cupiditate. A repudiandae ipsa minima molestias asperiores eos quis, ex culpa explicabo, dolorem esse magnam. Eaque, minima voluptatem cupiditate quos aliquid exercitationem cum. Quis vero qui incidunt
              labore, pariatur cupiditate atque obcaecati deleniti facere maiores, est dignissimos quas quaerat doloribus, quia aliquid vitae voluptatibus debitis explicabo eos eveniet voluptates quod architecto excepturi! Soluta autem qui
              sapiente eum dolorum quidem, vel nam, quae praesentium sint nisi quis ducimus voluptate?
            </p>
          </div>
          <div class="col-lg-6 m-auto text-center">
            <img src="/static/ppl.jpg" alt="about" style="height: 340px; border-radius: 4px; margin-bottom: 20px" />
          </div>
        </div>
      </div>

      <h2 class="text-center mt-2 mb-4">Open Positions</h2>
      <p>{% for job in jobs %} {% include 'jobitem.html' %} {% endfor %}</p>
      <div class="text-center">
        <a type="button" href="mailto:endinmeel1@gmail.com?subject=Question%20about%20Job%20Openings&body=My%20name%3A%20%3Cyour%20name%3E%0D%0A%0D%0AMy%20questions%3A%20%3Center%20question%3E" class="btn btn-primary btn-lg">Contact</a>
      </div>
      <!-- FOOTER -->
      {% include 'footer.html' %}
      <!-- END OF FOOTER -->
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>
