<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ job.title }} - Gusti Career</title>
    {% include 'bootstrap.html' %}
  </head>
  <body>
    {% include 'nav.html' %}
    <div class="container mt-5">
      <img id="banner" class="img-fluid" src="/static/banner.jpg" alt="banner" />
      <h1 class="text-center mt-5 mb-4">GUSTI CAREERS</h1>
      <h3>Title</h3>
      <p>{{ job.title }}</p>
      <h3>Location</h3>
      <p>{{ job.location }}</p>
      <h3>Salary</h3>
      <p>{{ job.currency }} {{ job.salary }}</p>
      <h3>Responsibility</h3>
      <ul>
        {% for line in job.responsibilites.split("\n") %}
        <li>{{ line }}</li>
        {% endfor %}
      </ul>
      <h3>Requirement</h3>
      <ol>
        {% for line in job.requirements.split("\n") %}
        <li>{{ line }}</li>
        {% endfor %}
      </ol>
    </div>

    {% include 'footer.html' %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>
